/*
 *  Author : Ahmed Ouarzazi
 *  Author URI : http://otahou.be
 *  tags :bem-methodology, mobile-first, flexbox, block, --css-variables, media-query
*/

/*
Test for mobile : inutile d'afficher les menus deroulants
*/
.navigation{display:none;}
.search-box{display: none;}
/*
End test for mobile
*/


/*Global Variables*/
:root {
  /*Mobile*/
  --brand-width: 150px;
  --grey-hr-line : #e1e1e1;
  --nav-bg-color:#00adeb;
  --font-size-icon:28px;
  --color-icon:#ffffff;
  --blue-belmobile:#00adef;

  --font-family-icon:"LineAwesome";

  --white-text-color:#ccc;

  /*Tablet*/
  --color-icon-lg:#000000;

  /*Wide Screen*/

}

/*Init*/
body{
    font-size:14px;
    margin:60px 0 0 0;
    padding: 0;

}
*{
  text-decoration: none;
  font-family: "Roboto";
}


/****************
* Header layout
*****************/
.header > *{
  color:#fff;
}

.header{
  background-color: #000; /*IE default*/
  background-color: var(--nav-bg-color);
  margin:0;
  padding:0;
  min-height: 42px;
  max-width: 100%;
  margin:auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: flex-start;
  align-items:center;
  position: fixed;
  top:0;
  width: 100%;
}


/* ------------------------
* 00 Header Bloc Component
-------------------------- */

.brand{
  padding-left:10px;
  flex : 1 1 auto;

}

.search-box{
  flex : 1 1 100%; /* bloc extensible et prenant tout la largeur*/
  order:1; /*Mettre la search box après la barre de menu mobile*/

}

.settings{

}


.navigation{
  background-color: lightgray;
  box-shadow: 1px 1px 5px rgba(0,0,0,.2);
  flex : 1 1 100%;
  position: absolute;
  top:42px;
  left:0;
  width: 100%;

}


.cart{

}


.toogle-nav{
  display: flex;
  align-items: center;
  align-self: stretch;
}


/* ------------------------
* 01 Brand Component elements
-------------------------- */

.brand__title{
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 300;
  padding:0;
  margin: 10px 0;
}

.brand__logo{
  display: none;
}


/* -----------------------------
* 02 Settings Component elements
------------------------------ */

.settings__menu{/**/
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  list-style: none;
  font-size: 1rem;
  padding:0;
  margin:0;
}

.settings__menu-item{
  /*cacher le texte*/
  font-size: 0;
}

.settings__menu-link:before{
  font-size: 28px;/*IE default*/
  font-size: var(--font-size-icon);
  color:#fff;/*IE default*/
  color:var(--color-icon);
  font-family: "LineAwesome";/*IE default*/
  font-family:var(--font-family-icon);
  margin: 0 10px;
}

.settings__menu-link--icon-connexion:before{
  content:"\f2fc";
}

.settings__menu-link--icon-flag:before{
  content: "\f1f9";
}


/* ---------------------------
* 03 Cart Component elements
---------------------------- */

.cart__info{
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  list-style: none;
  font-size: 1rem;
  margin:0;
  padding:0;
}

.cart__info-item{
  /*cacher le texte*/
  font-size: 0;
}

.cart__link:before{
  font-family: "LineAwesome";/*IE default*/
  font-family:var(--font-family-icon);
  font-size: 28px;/*IE default*/
  font-size: var(--font-size-icon);
  color:#fff;/*IE default*/
  color:var(--color-icon);
  margin: 0 10px;
}

.cart__link--icon-cart:before{
    content:"\f2fa";
}

.cart__item-amount{
  color:#fff;/*IE default*/
  color:var(--color-icon);
  background-color:#00adeb;/*IE default*/
  background-color:var(--blue-belmobile);
  position: absolute;
  top:2px;
  right:6px;
  text-align: center;
  width:13px;
  height: 13px;
  font-size:12px;
  border-radius: 50%;
}



/*--------------------------------------
* 04 Toogle Menu icon  Component elements
---------------------------------------*/

.toogle-nav__menu{
  font-size:0;
}

.toogle-nav__menu:before{
  font-family: "LineAwesome";
  font-family:var(--font-family-icon);
  color:#fff;/*IE default*/
  color:var(--color-icon);
  font-size: 28px;/*IE default*/
  font-size: var(--font-size-icon);
  content:"\f29a";
  margin: 0 10px;
}


/* -----------------------------
* 05 Searchbox Component elements
------------------------------ */

.search-box__form{
  background-color:#00adeb; /*IE default*/
  background-color: var(--blue-belmobile);

}

.search-box__fieldset{
  border:0;
  padding: 10px 7px;
}

.search-box__legend{
  /*position: absolute;
  text-indent: -9999px;*/
  font-size: 0;
}

.search-box__field{
  margin:0;
  height: 26px;
  padding-left: 10px;
  width: 100%;
  border: 1px solid #00adef;
  border-radius: 3px;
}

.search-box__submit{
  display:none;
}


/* -----------------------------
* 06 Main menu Component elements
------------------------------ */

.navigation__menu{
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: left;
  list-style: none;
  list-style-position: inside;
  font-size: .95rem;
}

.navigation__menu-item{
    width: 100%;

    border-bottom: 1px solid #00adeb;
    /*border-bottom: 1px solid #e1e1e1;*/
}

.navigation__menu-link--open:after{
  font-family: "LineAwesome";
  margin-left: 3px;
  content: "\f165";
  float: right;
}

.navigation__menu-link{
  display: block;
  color:#fff;
  background: #00adeb;
  padding: 10px;

}

.navigation__menu-link:hover{
    background: #00a3ef;
}

.navigation__menu--child{
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: left;
  list-style: none;
  list-style-position: inside;
  font-size: .95rem;
  /*display: none;*/
}


.navigation__menu-item--child{
  width: 100%;
  padding:0;
  /*border-top: 1px solid #eee;*/
}



.navigation__menu-link--child{
  display: block;
  color:#fff;
  background: #00adeb;
  padding: 10px;
}

.navigation__menu-link--child:hover{
    background: #00a3ef;
}



/****************
* Footer layout
*****************/

.footer{
  color:#fff;
  color: var(--white-text-color);
  background-color:#000;
  margin:0;
  padding:40px 20px;
  /*To not increase width or height cause of padding*/
  box-sizing: border-box;
  width:100%;
  margin-top:60px;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  flex-wrap:wrap;
}


/* ------------------------
* 10 Footer Element Component
-------------------------- */

.card{
  flex: 1 1 100%;
  list-style-type: none;
  margin: 0;
  padding:0;


}

.card__title{
  color:#00adeb;
  color:  var(--blue-belmobile:#00adef);
  font-size:1rem;
  text-transform: uppercase;
}

.card__text{

}

.card__list{
  list-style-type:none;
  padding:0;
}

.card__list--social{
  display: flex;

}

.card__list-link{
  display: block;
  color:#fff;
  color: var(--white-text-color);
  padding:10px 0 10px 0;
  border-bottom: 1px solid #232530;
}

.card__list-link--social-icon{
  font-size: 0;
}


.card__list-link--social-icon:before{
  font-size: 36px;/*IE default*/

  color:#fff;/*IE default*/
  color:var(--color-icon);
  font-family: "LineAwesome";/*IE default*/
  font-family:var(--font-family-icon);
  margin: 0 10px;
}


.card__list-link--facebook-icon:before{
  content:"\f1d7";
}

.card__list-link--twitter-icon:before{
  content: "\f359";
}

.card__list-link--pinterest-icon:before{
  content: "\f2ba";
}

.card__list-link--googleplus-icon:before{
  content: "\f21b";
}

.card__list-link--instagram-icon:before{
  content: "\f24d";
}

.copyright{
  display: flex;
  flex:1 1 100%;
  background-color: #232530;
  justify-content: center;
}

.copyright__text{
  color:#fff;
  color: var(--white-text-color);
}



/****************
* Main layout
*****************/



/* ------------------------
* 20 Main Element Component
-------------------------- */


.advantage{
  overflow: hidden;
}

.advantage__list{
  padding:0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.advantage__list-item{
  flex:1 1 auto;
  padding: 10px 0 10px 20px;
}

.advantage__bold{
  font-size: 16px;
  display: block;
  color:#00adeb;
  text-transform: uppercase;

}
